## ETL Process for CDC data

### Dependencies

In [1]:
import pandas as pd
import pymongo
from pymongo import MongoClient
pd.set_option('display.max_rows', 1000000)

### Extract Data

In [2]:
# Store filepath in a variable
input_file = "../static/data/final_df.csv"

In [3]:
# Read our Data file with the pandas library
raw_df = pd.read_csv(input_file, low_memory=False)

In [4]:
# Show just the header
raw_df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [5]:
raw_df.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst', 'Unnamed: 32'],
      dtype='object')

### Transform Data

In [6]:
# Rename the columns
renamed_df = raw_df.rename(
    columns={"Year of diagnosis": "diagnosis_year",
            "Race and origin recode (NHW, NHB, NHAIAN, NHAPI, Hispanic)": "race_origin",
             "Survival months": "survival_months",
             "Vital status recode (study cutoff used)": "status",
             "Site recode ICD-O-3/WHO 2008": "tumour_classification",
             "COD to site recode": "death_cause",
             "SEER cause-specific death classification": "death_classification",
             "Tumor Size Summary (2016+)":"tumor_size"
            })
renamed_df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [7]:
# Select important features
selected_df = renamed_df[["diagnosis_year", "race_origin", "survival_months", "status",
                          "tumour_classification", "death_cause", "death_classification", "tumor_size"]]
selected_df.head()

KeyError: "None of [Index(['diagnosis_year', 'race_origin', 'survival_months', 'status',\n       'tumour_classification', 'death_cause', 'death_classification',\n       'tumor_size'],\n      dtype='object')] are in the [columns]"

In [8]:
selected_df.dtypes

NameError: name 'selected_df' is not defined

In [9]:
# Display an overview of the diagnosis_year column
selected_df['diagnosis_year'].value_counts()

2017    426169
2018    424400
2016    419876
2003     16800
2002     16469
2001     16089
2000     15744
Name: diagnosis_year, dtype: int64

In [10]:
# Display an overview of the race_origin column
selected_df['race_origin'].value_counts()

Non-Hispanic White                            917102
Hispanic (All Races)                          153966
Non-Hispanic Black                            139808
Non-Hispanic Asian or Pacific Islander         95882
Non-Hispanic Unknown Race                      20977
Non-Hispanic American Indian/Alaska Native      7812
Name: race_origin, dtype: int64

In [11]:
# Display an overview of the status column
selected_df['status'].value_counts()

Alive    992819
Dead     342728
Name: status, dtype: int64

In [12]:
# Display an overview of the tumour_classification column
selected_df['tumour_classification'].value_counts()

Breast                                               206525
Prostate                                             169436
Lung and Bronchus                                    156449
NHL - Nodal                                           75098
Melanoma of the Skin                                  71834
Urinary Bladder                                       56759
Kidney and Renal Pelvis                               50742
Corpus Uteri                                          44978
Pancreas                                              40559
Thyroid                                               39748
NHL - Extranodal                                      34776
Rectum                                                27383
Liver                                                 24739
Miscellaneous                                         21620
Stomach                                               21133
Sigmoid Colon                                         20598
Brain                                                 16776
Ovary                                                 16604
Cecum                                                 15719
Ascending Colon                                       14915
Hodgkin - Nodal                                       14706
Esophagus                                             12885
Tongue                                                11597
Cervix Uteri                                          10638
Soft Tissue including Heart                           10240
Larynx                                                 8565
Testis                                                 7925
Rectosigmoid Junction                                  7480
Transverse Colon                                       7464
Small Intestine                                        7356
Tonsil                                                 6883
Other Non-Epithelial Skin                              6118
Anus, Anal Canal and Anorectum                         6030
Other Biliary                                          5631
Large Intestine, NOS                                   5375
Appendix                                               4914
Descending Colon                                       4739
Gum and Other Mouth                                    4717
Intrahepatic Bile Duct                                 4527
Vulva                                                  4221
Salivary Gland                                         3914
Gallbladder                                            3502
Hepatic Flexure                                        3476
Other Female Genital Organs                            3452
Bones and Joints                                       2655
Other Digestive Organs                                 2511
Eye and Orbit                                          2450
Mesothelioma                                           2379
Other Endocrine including Thymus                       2228
Splenic Flexure                                        2182
Nose, Nasal Cavity and Middle Ear                      2022
Lip                                                    1828
Oropharynx                                             1783
Nasopharynx                                            1757
Hypopharynx                                            1650
Ureter                                                 1528
Myeloma                                                1489
Peritoneum, Omentum and Mesentery                      1478
Uterus, NOS                                            1471
Floor of Mouth                                         1321
Other Urinary Organs                                   1276
Penis                                                  1220
Retroperitoneum                                        1160
Vagina                                                 1130
Kaposi Sarcoma                                         1094
Chronic Lymphocytic Leukemia                           1087
Cranial Nerves Other Nervous System                    1045
Other Oral Cavity and Pharynx                           727
Acute Myeloid Leukemia                                  717
Acute Lymphocytic Leukemia                              626
Trachea, Mediastinum and Other Respiratory Organs       502
Other Male Genital Organs                               350
Hodgkin - Extranodal                                    320
Chronic Myeloid Leukemia                                307
Aleukemic, Subleukemic and NOS                          209
Other Lymphocytic Leukemia                               74
Other Acute Leukemia                                     72
Pleura                                                   64
Other Myeloid/Monocytic Leukemia                         64
Acute Monocytic Leukemia                                 25
Name: tumour_classification, dtype: int64

In [13]:
# Display an overview of the death_cause column
selected_df['death_cause'].value_counts()

Alive                                                      992819
Lung and Bronchus                                           70223
Non-Hodgkin Lymphoma                                        28329
Pancreas                                                    25664
Miscellaneous Malignant Cancer                              22315
Diseases of Heart                                           18858
Colon excluding Rectum                                      17301
Other Cause of Death                                        13516
Liver                                                       11760
Breast                                                       9451
Brain and Other Nervous System                               7997
Esophagus                                                    7540
Urinary Bladder                                              7414
Stomach                                                      7250
Prostate                                                     6783
Kidney and Renal Pelvis                                      5481
Chronic Obstructive Pulmonary Disease and Allied Cond        5196
Ovary                                                        4838
State DC not available or state DC available but no COD      4613
Intrahepatic Bile Duct                                       4211
Rectum and Rectosigmoid Junction                             3983
Cerebrovascular Diseases                                     3800
Other Infectious and Parasitic Diseases including HIV        3378
In situ, benign or unknown behavior neoplasm                 2647
Melanoma of the Skin                                         2633
Corpus Uteri                                                 2276
Pneumonia and Influenza                                      2203
Septicemia                                                   2182
Uterus, NOS                                                  2161
Accidents and Adverse Effects                                2093
Soft Tissue including Heart                                  2002
Diabetes Mellitus                                            1929
Chronic Liver Disease and Cirrhosis                          1721
Cervix Uteri                                                 1715
Hodgkin Lymphoma                                             1650
Nephritis, Nephrotic Syndrome and Nephrosis                  1597
Alzheimers (ICD-9 and 10 only)                               1473
Larynx                                                       1451
Gallbladder                                                  1331
Symptoms, Signs and Ill-Defined Conditions                   1231
Tongue                                                       1206
Non-Melanoma Skin                                            1134
Hypertension without Heart Disease                           1054
Other Biliary                                                1041
Chronic Lymphocytic Leukemia                                 1028
Other Digestive Organs                                        918
Small Intestine                                               832
Acute Myeloid Leukemia                                        828
Myeloma                                                       820
Thyroid                                                       805
Suicide and Self-Inflicted Injury                             711
Bones and Joints                                              705
Other Oral Cavity and Pharynx                                 655
Gum and Other Mouth                                           619
Aleukemic, Subleukemic and NOS                                533
Oropharynx                                                    516
Vulva                                                         509
Anus, Anal Canal and Anorectum                                482
Peritoneum, Omentum and Mesentery                             474
Other Endocrine including Thymus                              407
Tonsil                                                        400
Salivary Gland                                                352
Nasopharynx                                                   334
Other Female Genital Organs                                   320
Other Diseases of Arteries, Arterioles, Capillaries           266
Aortic Aneurysm and Dissection                                265
Nose, Nasal Cavity and Middle Ear                             237
Acute Lymphocytic Leukemia                                    235
Atherosclerosis                                               206
Hypopharynx                                                   197
Other Urinary Organs                                          195
Testis                                                        187
Stomach and Duodenal Ulcers                                   183
Ureter                                                        179
Pleura                                                        178
Other Acute Leukemia                                          173
Vagina                                                        167
Trachea, Mediastinum and Other Respiratory Organs             163
Penis                                                         156
Retroperitoneum                                               145
Other Myeloid/Monocytic Leukemia                              114
Other Lymphocytic Leukemia                                     88
Chronic Myeloid Leukemia                                       87
Congenital Anomalies                                           77
Eye and Orbit                                                  76
Homicide and Legal Intervention                                67
Complications of Pregnancy, Childbirth, Puerperium             46
Lip                                                            39
Floor of Mouth                                                 35
Other Male Genital Organs                                      34
Tuberculosis                                                   29
Acute Monocytic Leukemia                                       21
Certain Conditions Originating in Perinatal Period              3
Syphilis                                                        1
Name: death_cause, dtype: int64

In [14]:
# Display an overview of the death_classification column
selected_df['death_classification'].value_counts()

Alive or dead of other cause             1066921
Dead (attributable to this cancer dx)     263913
Dead (missing/unknown COD)                  4611
N/A not seq 0-59                             102
Name: death_classification, dtype: int64

In [15]:
# Display an overview of the tumor_size column
selected_df['tumor_size'].value_counts()

999         460708
Blank(s)     65102
030          32045
020          30308
015          29494
025          27006
040          25806
010          24030
050          23356
035          20678
012          19890
018          16407
060          16027
045          15573
008          15126
011          14147
022          14125
013          13549
017          13296
009          13245
006          12995
005          12880
014          12816
016          12686
007          12597
021          11835
070          10965
028          10833
023          10622
024          10461
055          10461
032          10090
027           9834
004           9622
019           9416
080           8899
026           8669
003           8613
002           7950
065           7525
038           7406
042           7173
033           7116
037           6952
001           6782
031           6761
034           6545
036           6386
100           6355
029           6275
043           5466
090           5424
075           5171
048           5012
041           4946
047           4882
052           4829
039           4530
051           4485
044           4444
046           4283
053           3721
085           3381
058           3336
054           3306
000           3301
057           3223
056           3194
049           3104
062           3043
120           2988
110           2933
990           2881
063           2516
095           2261
068           2214
061           2212
067           2206
064           2194
072           2143
988           2037
059           1974
066           1919
150           1880
130           1810
073           1647
071           1620
078           1590
105           1493
074           1474
140           1439
077           1391
076           1362
069           1361
082           1349
083           1099
081           1036
115           1018
084            999
079            998
087            987
099            935
092            928
088            903
086            884
160            844
125            812
200            784
093            780
170            733
089            724
094            691
091            672
098            663
180            656
096            653
097            622
102            554
998            546
135            506
888            476
101            472
108            442
145            431
103            424
190            411
106            402
112            395
107            369
104            366
118            305
220            302
210            299
113            298
109            290
117            286
114            283
111            276
116            261
250            252
122            241
155            235
989            223
123            214
127            213
126            210
132            207
124            200
230            197
128            193
240            183
121            182
165            176
119            176
300            169
129            151
175            151
134            141
136            138
133            138
137            136
185            134
131            130
138            128
142            125
260            123
270            114
139            108
148            107
146            106
152            102
147            101
143             99
280             98
195             97
153             88
144             86
151             84
141             77
158             71
149             71
215             70
156             69
154             64
161             63
167             59
350             58
157             58
162             57
164             57
290             55
168             55
163             55
400             51
178             49
320             49
172             48
182             47
205             46
183             46
169             45
159             44
166             43
173             41
225             40
310             40
176             40
330             39
171             39
184             38
181             36
192             36
174             34
188             34
186             33
177             33
500             32
450             31
193             29
340             28
187             27
198             27
380             26
235             26
201             25
194             24
179             24
800             24
197             22
245             22
265             21
204             20
360             20
202             19
196             18
700             18
203             17
600             17
370             17
207             16
191             16
206             16
223             16
420             15
189             15
217             14
900             14
275             14
950             14
255             14
226             13
216             13
211             13
460             13
285             13
218             12
750             12
222             12
214             12
199             12
212             12
295             11
850             10
490             10
233             10
980             10
550             10
410              9
213              9
237              9
219              8
231              8
390              8
273              8
209              8
248              8
224              8
221              8
253              7
247              7
430              7
227              7
261              7
305              7
440              6
232              6
301              6
241              6
262              6
258              6
243              6
208              6
333              6
650              6
228              6
238              6
940              5
880              5
666              5
470              5
365              5
909              5
930              5
480              5
312              4
560              4
307              4
249              4
257              4
670              4
960              4
590              4
229              4
234              4
540              4
520              4
720              4
860              4
269              4
770              4
920              4
256              4
276              4
251              4
970              4
620              4
375              4
902              4
740              3
910              3
325              3
296              3
376              3
899              3
244              3
282              3
278              3
267              3
820              3
242              3
236              3
345              3
355              3
425              3
780              3
263              2
427              2
313              2
510              2
334              2
286              2
710              2
555              2
730              2
545              2
264              2
284              2
272              2
289              2
302              2
329              2
294              2
335              2
943              2
530              2
919              2
690              2
287              2
630              2
254              2
291              2
640              2
680              2
341              2
288              2
890              2
283              2
415              2
348              2
808              2
311              2
369              2
969              2
610              2
444              2
945              2
356              2
321              2
901              2
461              1
437              1
343              1
336              1
339              1
463              1
929              1
386              1
306              1
725              1
987              1
931              1
532              1
516              1
455              1
405              1
434              1
517              1
570              1
978              1
908              1
660              1
925              1
594              1
565              1
277              1
314              1
304              1
718              1
810              1
944              1
825              1
323              1
399              1
580              1
303              1
495              1
870              1
502              1
328              1
383              1
435              1
707              1
354              1
918              1
917              1
508              1
428              1
362              1
246              1
688              1
342              1
443              1
252              1
372              1
487              1
361              1
239              1
357              1
932              1
266              1
801              1
292              1
525              1
293              1
790              1
942              1
966              1
672              1
327              1
922              1
465              1
308              1
504              1
271              1
353              1
505              1
523              1
412              1
371              1
741              1
299              1
298              1
858              1
268              1
279              1
475              1
274              1
927              1
377              1
572              1
358              1
813              1
318              1
411              1
397              1
364              1
Name: tumor_size, dtype: int64

In [16]:
# Replace 'Blank(s)' with '1022'
cleaned_df = selected_df.copy()
cleaned_df.loc[:,'tumor_size'] = cleaned_df['tumor_size'].replace({'Blank(s)': '1022'})
cleaned_df = cleaned_df[cleaned_df.tumor_size != '1022']
cleaned_df = cleaned_df[cleaned_df.diagnosis_year == 2018 ]

cleaned_df['tumor_size'].value_counts()

999    155171
030     10422
020      9956
015      9678
025      8642
040      8330
010      7904
050      7482
035      6852
012      6751
018      5458
060      5147
045      5121
008      5001
011      4813
022      4787
013      4612
009      4576
017      4563
014      4436
016      4358
006      4279
005      4225
007      4156
021      4011
028      3675
024      3672
023      3651
070      3479
032      3478
055      3403
027      3376
019      3230
004      3188
026      2960
003      2873
080      2804
002      2675
038      2549
065      2505
042      2419
033      2379
031      2360
037      2322
036      2218
034      2216
001      2196
029      2147
100      1960
043      1872
090      1773
048      1690
047      1689
041      1682
075      1679
052      1605
044      1579
039      1559
046      1513
051      1506
053      1272
057      1158
085      1131
058      1130
054      1098
056      1062
049      1047
000      1046
062      1042
120       985
110       964
063       872
061       813
095       785
068       760
064       740
067       736
990       715
072       704
059       677
066       656
130       598
150       576
071       556
073       556
074       497
078       496
076       477
105       474
069       473
077       470
140       457
082       448
099       402
083       371
079       348
081       342
087       335
084       332
092       308
115       304
160       296
088       295
086       291
125       276
089       271
093       270
200       258
170       252
091       241
096       233
094       223
097       219
180       213
098       208
101       167
135       166
102       164
108       158
107       154
103       152
145       151
988       149
106       128
998       127
112       124
190       121
104       118
109       116
888       107
118       101
210        99
220        95
114        95
113        90
117        89
116        88
126        86
250        86
155        84
122        81
127        81
111        80
128        74
123        70
230        69
989        63
119        63
300        61
132        61
124        59
121        58
165        58
240        58
134        54
142        50
152        48
136        48
129        47
260        47
175        46
137        43
138        41
131        41
270        40
144        38
133        38
280        36
185        35
143        35
139        35
195        35
153        34
148        34
146        33
158        30
147        30
157        28
141        28
161        26
149        25
350        24
167        24
154        22
290        22
156        22
151        21
169        21
178        20
215        20
168        19
172        19
163        19
164        18
176        17
225        17
330        17
183        16
184        16
205        16
162        16
159        15
400        15
182        14
177        13
192        13
340        12
193        12
174        12
800        12
201        11
320        11
181        11
173        11
310        11
900        11
450        11
700        10
500        10
187        10
166        10
202        10
265         9
186         9
235         9
198         9
380         9
199         9
196         7
194         7
245         7
360         7
207         7
171         7
188         6
420         6
204         6
750         6
255         5
253         5
223         5
203         5
211         5
295         5
460         5
219         5
600         5
217         5
197         5
179         4
430         4
221         4
189         4
950         4
206         4
262         4
550         4
213         4
214         4
370         4
480         4
301         4
285         4
218         4
233         4
191         3
850         3
880         3
209         3
276         3
226         3
650         3
222         3
258         3
305         3
231         3
212         3
440         3
238         3
237         3
390         3
540         3
490         3
224         2
666         2
590         2
229         2
275         2
920         2
307         2
234         2
248         2
243         2
269         2
216         2
960         2
261         2
273         2
333         2
325         2
251         2
335         2
610         2
680         2
313         2
930         2
284         2
970         1
718         1
443         1
801         1
523         1
780         1
820         1
288         1
943         1
236         1
294         1
241         1
942         1
966         1
672         1
287         1
922         1
620         1
278         1
296         1
232         1
257         1
356         1
267         1
902         1
463         1
355         1
899         1
312         1
268         1
308         1
532         1
341         1
244         1
790         1
980         1
455         1
810         1
918         1
470         1
660         1
940         1
545         1
730         1
908         1
264         1
510         1
405         1
410         1
688         1
444         1
254         1
282         1
228         1
890         1
901         1
249         1
286         1
339         1
670         1
520         1
929         1
376         1
247         1
710         1
910         1
353         1
870         1
357         1
502         1
434         1
858         1
274         1
530         1
277         1
302         1
740         1
292         1
860         1
208         1
Name: tumor_size, dtype: int64

In [17]:
# Display an overview of the survival_months column
cleaned_df['survival_months'].value_counts()

0000       51945
0002       40108
0001       39659
0004       34434
0003       30936
0005       30679
0006       29799
0007       28402
0008       28138
0009       26385
0010       25285
0011       23055
Unknown     6149
0           4543
1           3024
2           2811
4           2320
3           2161
10          2161
6           2143
11          2128
5           2093
8           2071
7           2036
9           1935
Name: survival_months, dtype: int64

In [18]:
# Replace 'Unknown' with '9999'
tmp_df = cleaned_df.copy()
tmp_df.loc[:,'survival_months'] = tmp_df['survival_months'].replace({'Unknown': '9999'})
# Use pd.to_numeric() method to convert the datatype of the Amount column
cleaned_df = tmp_df.copy()
# Release memory assigned to tmp_df 
del tmp_df
# Display an overview of the survival_months column
cleaned_df['survival_months'].value_counts() #.sort_values()

0000    51945
0002    40108
0001    39659
0004    34434
0003    30936
0005    30679
0006    29799
0007    28402
0008    28138
0009    26385
0010    25285
0011    23055
9999     6149
0        4543
1        3024
2        2811
4        2320
3        2161
10       2161
6        2143
11       2128
5        2093
8        2071
7        2036
9        1935
Name: survival_months, dtype: int64

In [19]:
# Fill leading zeros up to four (4) digits
tmp_df = cleaned_df.copy()
tmp_df.loc[:,'survival_months'] = tmp_df['survival_months'].str.zfill(4)
cleaned_df = tmp_df.copy()
# Release memory assigned to tmp_df 
del tmp_df
# Display an overview of the survival_months column
cleaned_df['survival_months'].value_counts() #.sort_values()

0000    56488
0002    42919
0001    42683
0004    36754
0003    33097
0005    32772
0006    31942
0007    30438
0008    30209
0009    28320
0010    27446
0011    25183
9999     6149
Name: survival_months, dtype: int64

In [20]:
# Grouping the DataFrame by "death_classification"
#death_classification_group = cleaned_df.groupby("death_classification")

# Count how many of each component Assignees worked on and create DataFrame
#grouped_work_df = pd.DataFrame(death_classification_group["death_cause"].value_counts())
#grouped_work_df

In [21]:
# Identify incomplete rows
cleaned_df.count()

diagnosis_year           424400
race_origin              424400
survival_months          424400
status                   424400
tumour_classification    424400
death_cause              424400
death_classification     424400
tumor_size               424400
dtype: int64

### Load Data

Use mongo

In [22]:
import pymongo
from pymongo import MongoClient
conn = 'mongodb+srv://dbUser:1212@cluster0.iseao.mongodb.net/cancer_db?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)

# Define the 'cancer_db' database in Mongo
db = client.cancer_db
collection = db['seer_data']

In [ ]:
new_df = cleaned_df.reset_index(drop=True)
data_dict = new_df.to_dict("records")
new_df

In [ ]:
collection.insert_many(data_dict)